@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(129, 128, 128);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(211, 211, 211);
  border-radius: 7px;
}

@font-face {
  font-family: Gilroy;
  src: url(/fonts/Gilroy-Regular.ttf);
}

* {
  font-family: Gilroy;
}
